/* Dimension max-width 670px  */
@media all and (max-width: 670px) {
  .header-logo {
    font-weight: 700px;
    color: #658864;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 2vw;
    cursor: default;
  }
  .header-mid a {
    margin-right: 15px;
    font-size: 12px;
    color: white;
  }
  .header-right {
    font-size: 12px;
    margin-top: 25px;
  }
  .destination img {
    border-radius: 30px;
    width: 180px;
    height: 180px;
  }
  .home {
    margin-left: auto;
  }
  .home h1 {
    font-size: 35px;
  }
  .home p {
    font-size: 12px;
  }
  .destination p {
    font-size: 10px;
  }
  .isi-head {
    font-size: 20px;
  }
  .isi-list p {
    font-size: 12px;
  }
  .isi-des {
    margin: 0 30px;
  }
  .logo-tw {
    border-radius: 50px;
  }
  .about-desc h1 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .about-isi {
    margin-left: 50px;
    gap: 15px;
  }
  .logo-tw {
    width: 250px;
    height: 200px;
  }
  .about-desc p {
    font-size: 12px;
  }
  .profile-icon h3 {
    margin: 0;
    font-size: 12px;
  }
  .profile-icon p {
    font-size: 8px;
    text-align: left;
    padding: 5px;
  }

  .footer-logo {
    font-weight: 700px;
    margin-left: 20px;
    font-size: 1, 2vw;
  }
  .footer-right {
    font-size: 12px;
    padding-top: 22px;
    margin: 0 30px;
  }
}

@media all and (max-width: 376px) {
  .header-logo {
    font-weight: 700px;
    color: #658864;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 2.5vw;
  }
  .header-mid a {
    display: none;
  }
  .menu-icon {
    color: white;
    font-size: 25px;
    z-index: 10;
  }
  .header-right a {
    display: none;
  }
  .home h1 {
    font-size: 30px;
  }
  .home p {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .btn {
    padding: 3px 10px;
    font-size: 12px;
  }
  .isi-head {
    font-size: 24px;
  }
  .isi-list p {
    font-size: 9px;
  }
  .isi-des {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
  }
  .destination p {
    font-size: 12px;
  }
  .about-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .about-desc h1 {
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 0px;
  }
  .about-desc p {
    font-size: 9px;
  }
  .logo-tw {
    width: 100px;
    height: 180px;
    border-radius: 20px;
  }
  .about-isi {
    gap: 32px;
  }
  .bottom-head {
    font-size: 16px;
  }
  .profile {
    gap: 15px;
    margin: 0 10px;
  }
  .profile-icon img {
    width: 70px;
    height: 70px;
  }
  .profile-icon h3 {
    font-size: 9px;
  }
  .profile-icon p {
    font-size: 6px;
  }
  .footer-logo {
    font-weight: 700px;
    margin-left: 20px;
    font-size: 2.5vw;
  }
  .footer-right {
    font-size: 8px;
    padding-top: 10px;
  }
}

